.container{
  background-color: lightgray;
  color: black;
  margin:400px;
  margin-top: 10px;
  padding:50px;
  height:700px;
  width:500px;
border-radius: 22px;;
}
h2{
  text-align: center;
  margin-bottom: auto;
}

.profile {
  display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.center {
  width: 150px;     
    height: 150px;
    object-fit: cover;   
    border-radius: 50%;  
    border: 3px solid darkcyan;
}

h3 {
  text-align: left;
  color:darkcyan;
  font-size: 25px;
  border-bottom: 2px solid darkcyan;
 
}
.text {
  color:grey;
}
h4 {
  text-align: left;
  color:darkcyan;
  font-size: 25px;
  border-bottom: 2px solid darkcyan;
}

.hobbies {
  color:grey;
}

h5 {
  text-align: left;
  color:darkcyan;
  font-size: 25px;
  border-bottom: 2px solid darkcyan;
}

.contact {
  text-align: left;
  color:grey;
}